{% extends "bootstrap/base.html" %}
{% block title %}Validador{% endblock %}

{% block navbar %}
<div class="navbar container">
<div class="navbar-header">
    <a class="navbar-brand" href="/">
        <img alt="Brand" src="{{ url_for('static', filename='img/validator-sm.png') }}">
    </a>
</div>
</div>
{% endblock %}
