{% extends "bootstrap/base.html" %}
{% block title %}Valida e Gera CPF/CNPJ{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block navbar %}
<div class="navbar container">
<div class="navbar-header">
    <a class="navbar-brand" href="/">
        <img alt="Brand" src="{{ url_for('static', filename='img/validator-sm.png') }}">
    </a>
</div>
</div>
{% endblock %}
