{% extends "base.html.j2" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Gerador de CPF/CNPJ</h1>

    <div class="jumbotron mt-4 p-4 bg-light">
        <h2 class="text-center">{{ message }}</h2>
        <div class="text-center mt-3">
            <form action="/" style="display: inline-block; margin-right: 10px;">
                <button type="submit" class="btn btn-primary">Voltar</button>
            </form>
            <form method="post" action="/gerador" style="display: inline-block;">
                <input type="hidden" id="tipo" name="tipo" value="{{ type }}">
                <button type="submit" class="btn btn-primary">Gerar novo {{ type|upper }}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}